doctype
html
    h1 Guest List
        ul Attending
            each val in userResponse
                if val.attending === 'true'
                    li= val.name
        ul Not Attending
            each val in userResponse
                if val.attending === 'false'
                    li= val.name
